{
  "extends": "@antfu",
  "rules": {
    "no-console": "off",
    "space-before-function-paren": "off",
    "@typescript-eslint/brace-style": "off",
    "@typescript-eslint/comma-dangle": "off",
    "quote-props": "off",
    "vue/singleline-html-element-content-newline": "off",
    "vue/multiline-html-element-content-newline": "off",
    "arrow-parens": "off",
    "vue/html-closing-bracket-newline": [
      "warn",
      {
        "singleline": "never",
        "multiline": "always"
      }
    ],
    "curly": "off",
    "operator-linebreak": "off",
    "import/no-named-as-default": "off"
  }
}
