{
  "extends": "@antfu",
  "rules": {
    "no-console": "off",
    "space-before-function-paren": "off",
    "@typescript-eslint/brace-style": "off",
    "quote-props": "off",
    "vue/singleline-html-element-content-newline": "off",
    "vue/multiline-html-element-content-newline": "off"
  }
}
