:root {
  // --el-color-primary: green;
}

.el-input--large.el-input--prefix .el-input__inner {
  padding-left: 45px !important;
}

.el-input__prefix-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
