:root {
  // --el-color-primary: green;
}

.el-input--large.el-input--prefix .el-input__inner {
  padding-left: 45px !important;
  font-weight: 500;
}

.el-input__prefix-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.el-icon .el-input__icon svg {
  height: 1.5rem !important;
  width: 1.5rem !important;
}

